# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependencies (if a build tool is added later)
node_modules/
dist/
.cache/


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
